include LICENSE
include tests/**/*.py
include settings/**/*.json
include docsrc/Makefile
include docsrc/index.rst
include docsrc/conf.py
include docsrc/_templates/*.html
include docsrc/_templates/**/*.html
include build.sh
include test
include .editorconfig
include .pylintrc
